:root{
--preto: rgb(33,33,33);
--vermelho: rgb(222, 36, 36);
--cinza: rgb(50, 50, 50);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
}

body{
    background-color: var(--preto);
    
}

.sidebar{
display:flex;
justify-content: space-between;
border: solid yellow;
align-items: center;
background-color: var(--cinza);

}



.logo {
font-size: 45px;
color: var(--vermelho);
font-family: Tahoma, sans-serif;
font-size: 45px ;
margin:0 2.5% ;
}

.menu{
    display: flex;

    justify-content:space-between;
    border: solid green;
    width: 35%;
    margin:0 2.5% ;
  
}



.destaque{
    border:solid blue;
    padding: 5px;
    
    
}
.card{
    margin:auto;
    height:40vh;
    width: 95vw;
}
.card img{
height: 100%;
width: 100%;
}

.buttom{
    border: solid  whitesmoke;
    
}